.page4-content {
  position: relative;
  height:685px;
  background: url(../img/image4.jpg) no-repeat;
  background-position-y: -70px;
}
@media(max-width: $smDesktopWidth) {
  .page4-content{
    height:630px;
  }
}