extends ../../blocks/layout/main

block variables
	- var title = 'Четвертая страница';
	- var description = 'Регистрация';
	- var pageClass = 'page4';

block content
	div.container(class="page4-content")
		.login-form-wrap 
			include ../../blocks/loginForm/LoginForm
		.registration-form-wrap
			include ../../blocks/accountRegistrationForm/accountRegistrationForm
