extends ../../blocks/layout/main

block variables
	- var title = 'Четвертая страница';
	- var description = 'Регистрация';
	- var pageClass = 'page4';

block content
	div.container(class="page4-content")   
		include ../../blocks/loginForm/LoginForm
		include ../../blocks/accountRegistrationForm/accountRegistrationForm
