.button {
    display:inline-block;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    font-size: 12px;
    line-height: 15px;
    border-radius: 22px;
}
.button__icons {
    color: white;
}

.button_form {
    width: 100%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
   
    padding-top: 13px;
    padding-bottom: 15px;
    padding-right: 8px;
    padding-left: 30px;
}
.button_form_transparent {
    float: right;
    margin-top: 31px;
    padding: 13px 24px;
    color: #BC9CFF;
    border: 2px solid #BC9CFF; 
        /*border-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) ;  */
}
.button_form_transparent:hover,
.button_header_transparent:hover {
    opacity: 0.5;
    text-decoration: none;
    color: #BC9CFF;
}
.button_header_transparent {
    position: absolute;
    top: 18px;
    width: 87px;
    height: 34px;
    padding: 7px 20px 10px;
    margin-left: -2px;
    color: #BC9CFF;
    border: 2px solid #BC9CFF; 
    /*border-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) ;  */
}
.button_header_color {
    position: absolute;
    top: 18px;
    width: 196px;
    height: 34px;
    padding: 9px 20px;
    margin-left: 105px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.button_form:hover,
.button_header_color:hover{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
    text-decoration: none;
    color: white;
}