.login-form.registration {
    position: absolute;
    width: 380px;
    height: 646px;  
    left: -100px;
    top: -650px;
}
.login-form h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}
.form-group p {
    margin-top: 10px;
}
#pay {
    margin-top: 20px;
}