.login-form.registration {
    // display: none;
    position: absolute;
    width: 380px;
    height: 646px;  
    left: 530px;
    top: 30px;
}
.registration .form-group {
    margin-bottom: 21px;
}
.radio {
    position: relative;
    display: inline-block;
    margin-top: 10.44px;
    margin-right: 20px;
}
.login-form h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}
.custom-switch {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}
#pay {
    margin-top: 20px;
}

.registration .form-group:last-of-type{
    margin-bottom: 22px;
}