// @import "~pretty-checkbox/scss/variables";

.login-form.registration {
    // display: none;
    position: absolute;
    width: 380px;
    height: 646px;  
    left: 530px;
    top: 30px;
}
.radio {
    position: relative;
    display: inline-block;
    margin-top: 10.44px;
    margin-right: 20px;
}

.radio__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.radio__label {
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    color:rgba(31, 32, 65, 0.75);
    margin-top: 5px;
    cursor: pointer;
}

.radio__label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: border .1s linear;
}

.radio__label:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background-color: #BC9CFF;
    opacity: 0;

    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2;

    transition: opacity .1s linear;
}
.radio__input:checked + .radio__label {
    color: rgba(31, 32, 65, 0.75);
}

.radio__input:checked + .radio__label:before {
    border-color: #BC9CFF;
}

.radio__input:checked + .radio__label:after {
    opacity: 1;
}
.login-form h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}
.custom-switch {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}
.switch-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.switch-label {
    color:rgba(31, 32, 65, 0.75);
    cursor: pointer;
    margin-left: 50px;
}
.switch-label:before {
    content: "";
    display: block;
    width: 40px;
    height: 20px;

    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: #fff;
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: border .1s linear;
}
.switch-label:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 10px;

    background-color:rgba(31, 32, 65, 0.25);

    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2;

    transition: opacity .1s linear;
}

.switch-input:checked + .switch-label:before {
    border-color: #BC9CFF;
}

.switch-input:checked + .switch-label:after {
    top: 4px;
    left: 24px;
    background-color: #BC9CFF;  
}

#pay {
    margin-top: 20px;
}