.checkbox {
    position: relative;
    margin-bottom: 1rem;
}

.checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox-label {
    padding-left: 45px;

    font-size: 1rem;
    color:rgba(31, 32, 65, 0.5);
    cursor: pointer;
}
.checkbox-label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    border:  1px solid rgba(31, 32, 65, 0.25);
    background-color: #fff;
    border-radius: 4px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: background .1s linear, border .1s linear;
}

.checkbox-label:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    background: url("../img/Vector.png") no-repeat;
    // background-size: 12px 12px;
    opacity: 0;

    position: absolute;
    top: 2px;
    left: 4px;
    z-index: 2;

    transition: opacity .1s linear;
}
.checkbox-input:checked + .checkbox-label:before {
    border: 1px solid #BC9CFF;
}

.checkbox-input:checked + .checkbox-label:after {
    opacity: 1;
}

.catalog {
    height: 1356px;
    padding-left: 140px;
    padding-right: 140px;
    display: grid;
    grid-template-columns: 266px 834px;
    grid-gap: 60px; 
}
.date-dropdown {
    width: 266px;
    height: 44px;

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
.filter {
    grid-column: 1/2;
}
.sort {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-column-gap: 12px;
    grid-template-rows: repeat(4, 257px);
    grid-row-gap: 21px;    
}