// header style
.page-header{
    min-height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding-right: 140px;
    padding-left: 140px;
}

.header-logo{
    display:inline-block;
    float: left;
    width: 105.69px;
    height: 40px;
    margin-right: 285.31px;
}
.header-logo img {
    position: absolute;
    width: 105.69px;
    height: 40px;
    top: 15px;
}

.main-navigation {
    position: relative;
    flex: 1 1 auto;
}
.main-navigation-list {
    padding-top: 26px;
}
.main-navigation-item {
    float: left;
    position: relative;
    white-space: nowrap;
}
.main-navigation-item:not(:first-child) {
    padding-left: 20.5px;
}
a.main-nav-link {
    display:inline-block;
    color: rgba(31, 32, 65, 0.5);
    // font-size: 14px;
    line-height: 17px;
}
a.main-nav-link:hover{
    // font-weight: bold;
    color: #BC9CFF;
}
.material-icons {
    line-height: 0;
    float: right;
    margin-top: 9px;
   color: rgba(31, 32, 65, 0.5);
}