include ../utils/mixins
.login-form(class='datepicker')
    form
        h2 Найдём номера под ваши пожелания
        .form-group
            h3 прибытие
            input(type="date" class="form-control" id="date" placeholder="ДД.ММ.ГГГГ")
        .form-group
            h3 выезд
            input(type="date" class="form-control" id="date" placeholder="ДД.ММ.ГГГГ")
        .form-group
            h3 гости
            select(name="guests" class="form-control" id="guests" placeholder="Сколько гостей")
                option Взрослые
                option Дети
                option Младенцы

        
        button(type="submit" class="button form-button") подобрать номер