include ../utils/mixins
.login-form(class='datepicker-form')
    form
        h2 Найдём номера под ваши пожелания
        .datepicker-group(class="date-heck-in")
            h3 прибытие
            input(type="date" class="form-control heck-in" id="date" placeholder="ДД.ММ.ГГГГ")
            include ../includes/datepicker
        .datepicker-group(class="date-check-out")
            h3 выезд
            input(type="date" class="form-control check-out" id="date" placeholder="ДД.ММ.ГГГГ")
        .datepicker-group
            h3 гости
            select(name="guests" class="form-control" id="guests" placeholder="Сколько гостей")
                option Взрослые
                option Дети
                option Младенцы

        
        a(type="submit" class="button form-button" href="./filter.html") подобрать номер