.select
    .slct 
        p Сколько гостей 
        i.material-icons.dropdown-icon(id = "dropdown-icon") expand_more
    .dropdown-child
        .dropdown-item
            p Взрослые
            include ../includes/quantityBlock
        .dropdown-item
            p   Дети
            include ../includes/quantityBlock
        .dropdown-item
            p Младенцы
            include ../includes/quantityBlock
    <input type="hidden" id="select" />

    //- a href="javascript:void(0);