
.dropdown
    .mainmenubtn Удобства
    .dropdown-child
        .dropdown-item
            p Спальни
            include ../includes/quantityBlock
        .dropdown-item
            p Кровати
            include ../includes/quantityBlock
        .dropdown-item
            p Ванные комнаты
            include ../includes/quantityBlock