footer.container(class= 'page-footer')
    .footer-navigation
        .footer-discription
            a.footer-logo(href="/")
                img(src="assets/img/Logo.svg")
            p   Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        nav.site-navigation
            .site-navigation-item
                h2  Навигация
                ul.site-navigation-list
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Служба поддержки
                    li
                        a(href="#") Услуги
            .site-navigation-item
                h2  О нас
                ul.site-navigation-list
                    li
                        a(href="#") О сервисе
                    li
                        a(href="#") Наша команда
                    li
                        a(href="#") Вакансии
                    li
                        a(href="#") Инвесторы
            .site-navigation-item
                h2  Служба поддержки
                ul.site-navigation-list
                    li
                        a(href="#") Соглашения
                    li
                        a(href="#") Сообщества
                    li
                        a(href="#") Связь с нами
            .site-navigation-item
                .subscription
                    h2  Подписка
                    p   Получайте специальные предложения и новости сервиса
                    +input("email", "subscription", "email", "Email")
                    
            
                
        