include ../utils/mixins
.login-form.login
    form
        h2 Войти
        .form-group
            +input("text", "form-control", "email", "Email")
            +input("text", "form-control", "password", "Пароль")        
        +button('form-button', '#', 'Войти', 'arrow_forward')        
    p Нет аккаунта на Toxin?
    +button('transparent-form', 'https://google.ru', 'Создать' )
