<div class="quantity-block">
    <button class="quantity-arrow-minus"> - </button>
    <input class="quantity-num" type="number" value="0" />
    <button class="quantity-arrow-plus"> + </button>
</div>