.menu-group__datepicker  {
    margin-top: 0px;
    margin-bottom: 20px;
}
.filter__datepicker{
    width: 266px;
    height: 44px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
}

.menu-group__guests {
    margin-top: 0px;
    margin-bottom: 30px
}
.menu-group__title_h3 {   
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #1F2041;
    margin-bottom: 16px;
}
.menu-group__title_h3.datepicker,
.menu-group__title_h3.guests{
    margin-bottom: 5px;
}

.menu-group__checkbox-group_1{
    margin-top: 28px;
    padding-right: 30px;
}
.menu-group__checkbox-group_2{
    margin-top: 19px;
}
.menu-group__checkbox-group_2 label{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 6px;
}
.menu-group__checkbox-group_2 p {
    margin-left: 30px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
}
.checkbox-group__checkbox-1 {
    margin-bottom: 9px;
    padding-right: 30px;
}
.checkbox-group__checkbox-2{
    padding-right: 10px;
}
.menu-group__comfort{
    margin-top: 30px;
}
.menu-group__title_h3.comfort {
    margin-bottom: 4px;
}
.menu-group__checkbox-list {
    padding-right: 10px;
    margin-top: 30px;
}
.expandable-checkbox-list {
    float:left;
}
.checkbox-list__icon{
    float: right;
    margin-top: -4px;
    color:rgba(31, 32, 65, 0.5);
    transform: rotate(0deg);
    transition: transform 0.5s linear;
}
.checkbox-list__icon.open{
    transform: rotate(180deg);
    transition: transform 0.5s linear;
}
.filter-page__content {
    height: 1356px;
    padding-left: 140px;
    padding-right: 140px;
    display: grid;
    grid-template-columns: 266px 834px;
    grid-gap: 60px; 
    padding-top: 30px;
}
.content__filter-menu {
    grid-column: 1/2;
}
.content__room-list {
    grid-column: 2/3;
}
.room-list__title_h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    margin-bottom: 21px;
}
.room-list__sort {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-column-gap: 12px;
    grid-template-rows: repeat(4, 257px);
    grid-row-gap: 21px;    
}

.expandable-checkbox-list {
    list-style: none;
}
  
.expandable-checkbox-list .sub-menu {
    position: absolute;
    display: none;
    list-style: none;
    // margin-top: 17.44px;
}