ul.expandable-checkbox-list
    li
        h3.menu-group__title_h3 дополнительные удобства
        ul.sub-menu
            <li>
                +checkbox("checkbox-6", "checkbox-6", "Завтрак")
            <li>
                +checkbox("checkbox-7", "checkbox-7", "Письменный стол")
            <li>
                +checkbox("checkbox-8", "checkbox-8", "Стул для кормления")
            <li>
                +checkbox("checkbox-9", "checkbox-9", "Кроватка")
            <li>
                +checkbox("checkbox-10", "checkbox-10", "Телевизор")
            <li>
                +checkbox("checkbox-11", "checkbox-11", "Шампунь")
            <li>
                +checkbox("checkbox-12", "checkbox-12", "Телевизор")
            <li>
                +checkbox("checkbox-13", "checkbox-13", "Шампунь")
    li 		
i.material-icons.checkbox-list__icon(id = "checkbox-icon") expand_more