extends ../../blocks/layout/main

block variables
	- var title = 'Первая страница';
	- var description = 'Описание сайта';
	- var pageClass = 'index-page';

block content
	div.container(class="page-content")
		//- style="background:url(./img/image3.png) no-repeat")   
		.block-content
			p Лучшие номера для вашей работы, отдыха и просто вдохновения	
		include ../../blocks/datepickerForm/datepickerForm