extends ../../blocks/layout/main

block variables
	- var title = 'Первая страница';
	- var description = 'Описание сайта';
	- var pageClass = 'index-page';

block content
	div.container(class="index-page__content")
		.index-content__datepicker-form
			include ../../blocks/datepickerForm/datepickerForm
		.index-content__discription
			p.discription__p Лучшие номера для вашей работы, отдыха и просто вдохновения	