.datepickers-container .datepicker{
    display: block;
    position: absolute;  
    box-sizing: border-box;
    width: 320px;
    height: 369px;
    cursor: default;

    // margin-top: 5.56px;
    // padding-left: 22px;
    // padding-right: 20px;
    
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
    
    background:#FFFFFF;;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}

.datepicker--pointer {
    display: none;
}
.datepickers-container .datepicker--nav {
    border-bottom: none;
    padding: 0px;
    padding-left: 18px;
    padding-right: 14px;
    margin-top: 18px;
}
.datepickers-container .datepicker--nav-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #1F2041;
}
.datepickers-container .datepicker--nav-title i {
    color: #1F2041;
}
.datepickers-container .datepicker--nav-action path {
    fill: $primary-color; 
    stroke: none;
    stroke-width: 0px; 
}

.datepickers-container .datepicker--content {
    box-sizing: content-box;
    margin-top: 35px;
    padding: 0px;
}

.datepickers-container .datepicker--days-names{
    margin-bottom: 12px;
    font-family: Montserrat;
    font-weight: 700;
    color: $primary-color;
    padding-left: 15px;
    padding-right: 15px;
}
.datepickers-container .datepicker--day-name{
    color: $primary-color;
}

.datepickers-container .datepicker--cells{
    justify-content: center;
}
.datepickers-container .datepicker--cell{
 height: 40px;
 border-radius: 50%;
}
.datepickers-container .datepicker--cell-day{
    width: 40px;
}

.datepickers-container .datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
    color:rgba(31, 32, 65, 0.25);
}

.datepickers-container .datepicker--cell.-current- {
    color: #FFFFFF;
    font-weight: bold;
    background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.datepickers-container .datepicker--cell.-selected-{
    font-weight: bold;
    color: #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.datepickers-container .datepicker--cell.-range-from-,
.datepickers-container .datepicker--cell.-range-to- {
    border-radius: 50%;
}
.datepickers-container .datepicker--cell.-in-range- {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
    color:#1F2041;
    border-radius: 0;
}

.datepickers-container .datepicker--cell.-selected-.-focus-{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.datepickers-container .datepicker--cell.-range-to-{
    border: 1px solid  $primary-color;
    background-color: rgba(188, 156, 255, .1);    
}
.datepickers-container .datepicker--cell.-range-from-{
    border: 1px solid  $primary-color;
    background-color: rgba(188, 156, 255, .1);
}
.datepickers-container .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.datepickers-container .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.datepickers-container .datepicker--buttons, .datepicker--time {
    margin-top: 13px;
    border-top:none;
    padding: 0px;
    justify-content: space-between;
}
.datepickers-container .datepicker--button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    
    &:hover{
        color:rgba(31, 32, 65, 0.5);
        text-decoration: underline;
    }
    
    &:active{
    color: $primary-color ;
    text-decoration: none;
}
}

.datepickers-container .datepicker--button:hover {
    background: none;
}

.datepickers-container .datepicker--button.-save- {
    color: $primary-color ;

    &:hover{
        color: $primary-color;
        text-decoration: underline;
    }
    

    &:active{
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
    }
    
}
@media(min-width:320px) and (max-width: 981px) {
    .datepickers-container .datepicker {
        position: absolute;        
        width: 268px;
        height: 310px;
        cursor: default;

        padding-left: 10px;
        padding-right: 10px;
    }
    .datepickers-container .datepicker--content {
        margin-top: 15px;
    }
    .datepickers-container .datepicker--days-names {
       padding-left: 0px;
       padding-right: 0px;
    }
    .datepickers-container .datepicker--cell.-current-{
        padding-top: 0px;
        width: 35px;
        height: 35px;
    }
    .datepickers-container .datepicker--cell{
        height: 35px;
    }
    .datepickers-container .datepicker--cell-day {
        width: 35px;
        height: 35px;
    }
}