<div class="quantity-block">
    <button class="quantity__arrow_minus"> - </button>
    <input class="quantity__num" type="number" value=0 />
    <button class="quantity__arrow_plus"> + </button>
</div>