.footer__social-bar {
    height: 70px;
    border-top: 1px solid rgba(31, 32, 65, 0.25);
    padding-left: 140px;
    padding-right: 140px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    @media(min-width: $smPhoneWidth) and (max-width:767px) {
        display: block; 
    }
}
.footer__copyright{
    // float: left;
    margin-top: 26px;
    color: rgba(31, 32, 65, 0.75);
}
.footer__social {
    // float:right;
    margin-top: 23px;
}
.social__btn {
    display: inline-block;
    font-size: 24px;
    line-height: 23px;
    margin-right: 25px;
    color:   $primary-color;
}
.social__btn:last-child {
    margin-right: 0px;
}
.social__btn:hover {
    color:   $primary-color;
    opacity: 0.5;
}
