.container.footer__social-bar
    .footer__copyright
        p Copyright © 2018 Toxin отель. Все права зачищены. 
    .footer__social
        a.social__btn.social-btn-tv(href="#") 
             i.fa.fa-twitter(aria-hidden="true")
        a.social__btn.social-btn-fb(href="#")
            i.fa.fa-facebook-official(aria-hidden="true")
        a.social__btn.social-btn-in(href="#")
            i.fa.fa-instagram(aria-hidden="true")