extends ../layout/main

block variables
	- var title = 'Первая страница';
	- var description = 'Описание сайта';
	- var pageClass = 'index-page';

block content
	img(src="assets/img/image 3.png")
	div.container(class="page-content")
		.block-content
			p Лучшие номера для вашей работы, отдыха и просто вдохновения
		
			include ../includes/LoginForm