extends ../layout/main

block variables
	- var title = 'Четвертая страница';
	- var description = 'Описание сайта';
	- var pageClass = 'index-page';

block content
	div.container(class="page-content")   
		//-style ="background: url(../img/image3.png) no-repeat;")
		//- img(src="assets/img/image 3.png")
		.block-content
			include ../includes/LoginForm
			include ../includes/accountRegistrationForm
