.slct {
	display: block;
    box-sizing: border-box;
	border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
 	width: 266px;
    height: 44px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 12px;

    /*обрезаем текст чтобы не вылезал за рамку*/
 	overflow: hidden;
 	white-space:nowrap;
 	text-overflow: ellipsis;
 	-o-text-overflow: ellipsis;	

}
.slct p {
    float: left;
}
.material-icons.dropdown-icon{
    transform: rotate(0deg);
    transition: transform 0.5s linear;
}
.material-icons.dropdown.open{
    transform: rotate(180deg);
    transition: transform 0.5s linear;
}
.slct.active {
 	border-radius: 4px 4px 0 0;
 	border-bottom: none;
 }
.dropdown-child {
    display: none;
    position: absolute;
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
    width: 266px;
    height: 159px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 7px 7px 7px 15px;
    background-color: white;
    z-index: 150;
}
.dropdown-child {
    display: none;
    position: absolute;
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
    width: 266px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 7px 7px 7px 15px;
    background-color: white;
    z-index: 150;
}
.dropdown-comfort .dropdown-child {
    height: 119px;
}
.dropdown-guests .dropdown-child {
    height: 159px;
}
.dropdown-child a.save {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    float:right;
    margin-top: 20px;
}
.dropdown-child a.reset {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    float:left;
    margin-top: 20px;
}
.dropdown-item {
        padding:0px;
        height: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    
        text-transform: uppercase;
        color: #1F2041;
        text-decoration: none;
        display: block;
    }
    .dropdown-item:not(:last-of-type){
        margin-bottom: 7px;
    }
    .dropdown-item p{
        float: left;
    }
    .dropdown-item .quantity-block{
        float: right;
    }