.dropdown__select {
	display: block;
    box-sizing: border-box;
	border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
 	// width: 266px;
    height: 44px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 12px;

    /*обрезаем текст чтобы не вылезал за рамку*/
 	overflow: hidden;
 	white-space:nowrap;
 	text-overflow: ellipsis;
 	-o-text-overflow: ellipsis;	

}
.dropdown__select p {
    float: left;
}
.dropdown__select.active {
    border: 1px solid rgba(31, 32, 65, 0.5);
    // border-radius: 4px 4px 0 0;
    border-bottom: none;
}
.dropdown__child {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 266px;
    height: 159px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 7px 7px 7px 15px;
    background-color: white;
    z-index: 3;
    @media(min-width: $smPhoneWidth) and (max-width: 767px) {
        width: 300px;
    }
}
// @media(min-width: $smPhoneWidth) and (max-width: $tableWidth) {
//     .dropdown__child{
//         width: 266px;
//     }
// }
.dropdown-comfort .dropdown__child {
    height: 119px;
}
form .dropdown__child {
    width: 320px;
    
    @media(min-width: $smPhoneWidth) and (max-width: 980px) {
        width: 268px;
    }
}
.info-card__guests .dropdown__child {
    width: 320px;
    
    @media(min-width: $smPhoneWidth) and (max-width: 767px) {
        width: 268px;
    }
}
.dropdown__button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    text-transform: uppercase;

    &_save{
        color: #BC9CFF;
        float:right;

        &:hover{
            color: #BC9CFF;
        }

        &:active{
            color: rgba(31, 32, 65, 0.5);
            text-decoration: none;
        }
    }

    &_reset{
        display: none;
        color: rgba(31, 32, 65, 0.5);
        float:left;

        &:hover{
            color:rgba(31, 32, 65, 0.5);
        }
        
        &:active{
            color: #BC9CFF;
            text-decoration: none;
        }
    }
}
.child__item {
    padding:0px;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    
    text-transform: uppercase;
    color: #1F2041;
    text-decoration: none;
    display: block;
}
.child__item:not(:last-of-type){
    margin-bottom: 7px;
}
.child__item p{
    float: left;
}
.child__item .quantity-block{
    float: right;
}
.dropdown__icon{
    float: right;
    transform: rotate(0deg);
    transition: transform 0.5s linear;
}
.dropdown__icon.active{
    transform: rotate(180deg);
    transition: transform 0.5s linear;
}