mixin informationDetails(class_, icon, title, content)
    div(class=class_)
        i.material-icons.room-information__icon #{icon}
        h6.room-infotmation__title_h6 #{title}
        p #{content}