extends ../../blocks/layout/main
include ../../blocks/svgWithLinearGradient/svg
include ../../blocks/reviewsBlock/reviewsBlock
include ../../blocks/informationDetails/informationDetails

block variables
	- var title = 'Страиница пять';
	- var description = 'Регистрация';
	- var pageClass = 'page4';

block content
	div.room-details__content
		.content__room-foto
			.foto-left
			.foto-right
				.foto-right_1
				.foto-right_2
		.container.content__room-information
			.room-information
				.room-information__info-card
					include ../../blocks/infoCard/infoCard
				.room-information__details
					h3.room-infotmation__title_h3 Сведения о номере
					+informationDetails('information__details_comfort', "mood", "Комфорт", "Шумопоглощающие стены")
					+informationDetails('information__details_convenience', "location_city", "Удобство", "Окно в каждой из спален")
					+informationDetails('information__details_cosiness', "whatshot", "Уют", "Номер оснащён камином")
				.room-information__impression
					h3.room-infotmation__title_h3 Впечатления от номера
					ul
						li
							+svgLinearGradient("paint0_linear", "#FFE39C","#FFBA9C") 
							span Великолепно
						li
							+svgLinearGradient("paint1_linear", "#6FCF97","#66D2EA")
							span Хорошо
						li
							+svgLinearGradient("paint2_linear", "#BC9CFF","#8BA4F9")
							span Удовлетворительно
						li
							+svgLinearGradient("paint3_linear", "#919191", "#3D4975")
							span Разочарован
				.room-information__reviews
					.room-information__reviews-title
						h3.room-infotmation__title_h3 Отзывы посетителей номера
						p.room-information__reviws-number 2 отзыва
					.reviews__list
						+reviewsBlock("review__item_1", "Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей")
						+reviewsBlock("review__item_2", "Патрисия Стёклышкова", "Неделю назад", "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент")
				.room-information__rule-box
					.rule-box__rules
						h3.room-infotmation__title_h3 Правила
						ul
							li
								+svg
								span Нельзя с питомцами
							li
								+svg
								span Без вечеринок и мероприятий
							li
								+svg
								span Время прибытия — после 13:00, а выезд до 12:00
					.rule-box__repeal
						h3.room-infotmation__title_h3 Отмена
						p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
		  			

			//- .room-information__info-card
			//- 	include ../../blocks/infoCard/infoCard
