.room-details__content{
    height: 1424px;
    padding-left: 0;
    padding-right: 0;
}
.content__room-foto{
    display:grid;
    height: 485px;
    grid-template-columns: 981px 459px;
    grid-template-rows: 485px;
}
.foto-left{
    grid-column: 1/2;
    background: url(../img/foto-left.jpg) no-repeat;
}
.foto-right{
    grid-column: 2/3;
    display:grid;
    grid-template-rows: 242px 243px;
}
.foto-right_1{
    grid-row: 1/2;
    background: url(../img/foto-right-1.jpg) no-repeat;
}
.foto-right_2{
    grid-row: 2/3;
    background: url(../img/foto-right-2.jpg) no-repeat 100% 100%;
}
.content__room-information{
    padding-right: 140px;
    padding-left: 140px;
    padding-top:70px;
}
.room-information{
    position: relative;
    width: 780px;
    float:left;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color:rgba(31, 32, 65, 0.75);
}
.room-infotmation__title_h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-transform: none;
}
.room-information__info-card{
    position: relative;
    float: right;
    width: 380px;
}
.room-information__details{
    margin-bottom: 13px;
}
.room-information__impression {
    position: absolute;
    top: 0;
    left: 361px;
    width: 310px;
    background: url(../img/Pie.png) no-repeat;
    background-position-x: 0px;
    background-position-y: 45px;
    
}
.room-information__impression h3{
    margin-bottom: 48px;
}
.room-information__impression ul {
    float: right;
}
.room-information__impression li {
    position: relative;
}
.room-information__impression li svg {
    position: absolute;
    top: 5px;
    left: -15px;
}

.room-information__reviews{
    padding-right: 70px;
}
.room-information__reviews h3{
    margin-bottom: 20px;
}
.room-information__rule-box{
    margin-top:33px;
    padding-right: 78px;
}
.room-information__rule-box h3 {
margin-bottom: 16px;
}
.rule-box__rules {
    float: left;
    width:260px;
}
.rule-box__repeal {
    float: right;
    width:341px;
}
.rule-box__rules h3{
    padding-left: 20px;
}

.rule-box__rules li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 19px;
}

.rule-box__rules li svg{
    position: absolute;
    left:0;
    top: 7px;
}
