//- include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    link(rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    //- link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css")
  block head
  body(class=pageClass)
    .wrapper
        include ../includes/header
        //- .content-wrapper
        block content
        include ../includes/footer
        include ../includes/socialВаг

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
    script.
      $('#dateFrom').datepicker({
        inline: true,
        firstDay: 1,
        showOtherMonths: true,
        dayNamesMin: ['Bc', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
      });
      var monthNames = $( "#dateFrom" ).datepicker( "option", "monthNames" );
      $( "#dateFrom" ).datepicker( "option", "monthNames", [ 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' ] );
      
      $('#dateTo').datepicker({
        inline: true,
        firstDay: 1,
        showOtherMonths: true,
        dayNamesMin: ['Bc', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
      });
      var monthNames = $( "#dateTo" ).datepicker( "option", "monthNames" );
      $( "#dateTo" ).datepicker( "option", "monthNames", [ 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' ] );

      var dates = $("#dateFrom, #dateTo").datepicker({
        onSelect: function(selectedDate){
          var option = this.id == "from" ? "minDate" : "maxDate",
          instance = $( this ).data( "datepicker" ),
          date = $.datepicker.parseDate(
          instance.settings.dateFormat || $.datepicker._defaults.dateFormat,
          selectedDate, instance.settings);
          dates.not(this).datepicker("option", option, date);
        }
      });
  
  //- block script
