//- include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    link(rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    block head

  body(class=pageClass)
    .wrapper
        include ../includes/header
        //- .content-wrapper
        block content
        include ../includes/footer
        include ../includes/socialВаг

    block script