include ../button/button
include ../input/input
include ../inputRadio/inputRadio

.login-form(class='registration')
    form
        h2 Регистрация аккаунта
        .form-group
            +input("text", "form-control", "name", "Имя")
            +input("text", "form-control", "surname", "Фамилия")
            .radio
                +inputRadio("radio-input", "radio", "male", "radio_1", "radio-label", "Мужчина")
            .radio
                +inputRadio("radio-input", "radio", "male", "radio_2", "radio-label", "Женщина")
        .form-group
            h3 Дата рождения
            input(type="date" class="form-control" id="date" placeholder="ДД.ММ.ГГГГ")
        .form-group
            h3 Данные для входа в сервис
            +input("text", "form-control", "email", "Email")
            +input("text", "form-control", "password", "Пароль")
            .custom-switch
                +inputRadio("switch-input", "checkbox", "special", "customSwitch", "switch-label", "Получать спецпредложения")     
        +button('form-button', "#", 'перейти к оплате', 'arrow_forward' )        
    p Уже есть аккаунт на Toxin
    +button('transparent-form', 'https://google.ru', 'Войти' )
