.registration-form {
     display: none;
    position: absolute;
    width: 380px;
    height: 646px; 
    left: 530px;
    top: 30px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;    
}
.registration__group {
    margin-top: 20px;
    margin-bottom: 21px;
}
.registration__group input:first-of-type {
    margin-bottom: 10px;
}
.registration__title_h2{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
}
.registration__title_h3{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 5px;
}
.radio {
    position: relative;
    display: inline-block;
    margin-top: 10.44px;
    margin-right: 20px;
}
.custom-switch {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}
.registration__group:last-of-type{
    margin-bottom: 22px;
}
.registration-form p {
    float: left;
    margin-top: 42px;
}