@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

@import "../blocks/accountRegistrationForm/accountRegistrationForm.scss";
@import "../blocks/button/button.css";
@import "../blocks/cardsRoom/cardsRoom.scss";
@import "../blocks/checkbox/checkbox.css";
@import "../blocks/datepicker/datepicker.scss";
@import "../blocks/datepickerForm/datepickerForm.scss";
@import "../blocks/dropdown/dropdown.scss";
@import "../blocks/footer/footer.scss";
@import "../blocks/header/header.scss";
@import "../blocks/infoCard/infoCard.scss";
@import "../blocks/informationDetails/informationDetails";
@import "../blocks/input/input.scss";
@import "../blocks/inputRadio/inputRadio.css";
@import "../blocks/likeButton/likeButton.scss";
@import "../blocks/loginForm/LoginForm.scss";
@import "../blocks/pagination/pagination.scss";
@import "../blocks/reviewsBlock/reviewsBlock.scss";
@import "../blocks/quantityBlock/quantityBlock.scss";
@import "../blocks/sliderRange/sliderRange.scss";
@import "../blocks/socialВаг/socialBar.scss";

@import "../pages/index/index.scss";
@import "../pages/filter/filter.scss";
@import "../pages/page4/page4.scss";
@import "../pages/roomDetails/roomDetails.scss";

@import url(http://allfont.ru/allfont.css?fonts=quicksand-bold);

html {
  // line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  letter-spacing: 0px;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

// Modules
// @import "modules/my-module.scss";
