include ../button/button
header.container(class= 'header')
    a.header__logo(href="/") 
        img(src="assets/img/Logo.svg")
    naw.header__navigation
        ul.navigation__list
            li.list__item
                a.navigation__link(href="#") О нас
            li.list__item
                a.navigation__link(href="#") Услуги
                    i.navigation__icon.material-icons keyboard_arrow_down
            li.list__item
                a.navigation__link(href="#") Вакансии
            li.list__item
                a.navigation__link(href="#") Новости
            li.list__item
                a.navigation__link(href="#") Соглашения
                    i.navigation__icon.material-icons keyboard_arrow_downs
        ul.navigation__user
            li.user__login-button
                +button('button_header_login', href="./page4.html", 'Войти' )
            li.user__registr-button
                +button('button_header_registration', href="#", 'зарегистрироваться' )