// header style
.header{
    min-height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: flex;
    justify-content: space-between;
}

.header__logo{
    display:inline-block;
    width: 106px;
    height: 40px;
    margin-top: 15px;
    margin-right: 5px;
}
.header__logo img {
    position: absolute;
    width: 106px;
    height: 40px;
}

.header__navigation {
    display: flex;
}
.navigation__list {
    padding-top: 26px;
}
.list__item {
    float: left;
    white-space: nowrap;
}
.list__item:not(:first-child) {
    padding-left: 20.5px;
}
a.navigation__link {
    display:inline-block;
    color: rgba(31, 32, 65, 0.5);
    line-height: 17px;
}
a.navigation__link:hover{
    color: $primary-color;
}
.navigation__icon {
    line-height: 0;
    float: right;
    margin-top: 9px;
   color: rgba(31, 32, 65, 0.5);

   &:last-child{
       margin-right: -3px;
   }
}
.navigation__user {
    width: 303px;
    display: flex;
    justify-content: flex-end;
}
.user__login-button{
    width: 87px;
    margin-right: 20px;
}
.user__registr-button{
    width: 196px;
}

@media(max-width: $smDesktopWidth) {
    .list__item:not(:first-child) {
        padding-left: 12px;
    }
    .navigation__user {
        width: 213px;
    }
    .user__login-button{
        width: 57px;
        margin-right: 10px;
    }
    .user__registr-button{
        width: 146px;
    }
}
@media(min-width: $smPhoneWidth) and (max-width: 767px) {
    .header{
        flex-direction: column;
        min-width: 320px;
    }
    .header__logo {
        margin-top: 0px;
        margin-right: 0px;
        align-self: center;
    }
    .header__navigation{
        flex-wrap: wrap;
        justify-content: center;
    }
    .navigation__list {
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .button_header_login,
    .button_header_registration {
        top: 45px;
    }
}