.like-button{
    position: absolute;
    left: 3px;
    top: 59px;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 4px;
}

.like-button__icon{
    margin:0;
    float: left;
    font-size: 10px;
    line-height: 9px;
    color: #BC9CFF;
}
.like-button input{
     position: absolute;
     top: 3px;
    left:20px;
    width: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}