.dropdown.dropdown-comfort
    .dropdown__select 
        p Удобства номера 
        i.material-icons.dropdown__icon expand_more
    .dropdown__child
        .child__item
            p спальни
            include ../quantityBlock/quantityBlock
        .child__item
            p кровати
            include ../quantityBlock/quantityBlock
        .child__item
            p ванные комнаты
            include ../quantityBlock/quantityBlock
    <input type="hidden" id="select" />