.select.dropdown-comfort
    .slct 
        p Удобства номера 
        i.material-icons.dropdown-icon(id = "dropdown-icon") expand_more
    .dropdown-child
        .dropdown-item
            p спальни
            include ../quantityBlock/quantityBlock
        .dropdown-item
            p кровати
            include ../quantityBlock/quantityBlock
        .dropdown-item
            p ванные комнаты
            include ../quantityBlock/quantityBlock
    <input type="hidden" id="select" />