include ../button/button
//- include ../dropdown/dropdown
.info-card
    .card__number-of-room
        p.number № <span class = "number-room">888</span> <span class = "lux">люкс</span>
        p.cost  <span class= "room-cost">9 990 ₽</span> в сутки 
    .info-card__datepicker_check-in
        h3.info-card__title_h3 прибытие
        input(type="text" class="info-card__input_date сheck-in" id="dateFrom" placeholder="ДД.ММ.ГГГГ")
    .info-card__datepicker_check-out
        h3.info-card__title_h3 выезд
        input(type="text" class="info-card__input_date check-out" id="dateTo" placeholder="ДД.ММ.ГГГГ")
    .info-card__guests
        h3.info-card__title_h3 гости
        include ../dropdown/dropdown
        //- +dropdown("dropdown-guests", "Сколько гостей", "Взрослые", "Дети", "Младенцы")
    .info-card__table-cost
        table.table-cost
            tr.table-cost__tr
                td.services 9 990₽ х 4 суток
                td
                td.sum 39960₽
            tr.table-cost__tr
                td.services Сбор за услуги: скидка 2 179₽
                td 
                    a.table__link-info(href = "#") i
                td.sum 0₽
            tr.table-cost__tr
                td.services  Сбор за дополнительные услуги
                td
                    a.table__link-info(href = "#") i
                td.sum  300₽
        table.results
            tr
                th Итого
                th.border-results
                th.sum 38081₽
    +button('button_form', '#', 'забронировать', 'arrow_forward' )